:root {
  --bg: lightyellow;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

label {
  width: 100%;
  height: 100%;
  font-size: x-large;
  margin: 5px;
  padding: 5px;
}

input[type="textarea"]{
  width:100%;
  height:auto;
  font-size: x-large;
}

input[type="text"] {
  font-size: x-large;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
}

div.container {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
div.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
